/* CLIENTS */

#clients-section {
    background-color: #fff;
    height: fit-content;
    padding: 100px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.clients-counter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#clients-counter-number {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

#clients-counter-text {
    font-size: 52px;
    font-weight: lighter;
    letter-spacing: 12px;
    margin-top: -20px;
    margin-left: 12px;
    text-align: center;
}

.main-clients-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.client-logo {
    height: 100px;
    transition-duration: 300ms;
}

/* RESPONSIVITY */

/* 1100px */

@media screen and (max-width: 1100px) {
    #clients-section {
        padding: 60px 25px;
        gap: 10px;
    }

    .main-clients-container {
        flex-direction: column;
        gap: 20px;
    }

    .client-logo {
        height: 80px;
    }
}

/* SMARTPHONES */

@media screen and (max-width: 767px) {
    #clients-section {
        padding: 60px 25px;
    }

    .client-logo {
        height: 60px;
    }
}
