/* FOOTER */

footer {
    background-image: linear-gradient(to right, #fff, #86b3b0);
    height: fit-content;
    width: 100%;
}

.footer-container {
    padding: 10px 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo-container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo-footer {
    height: 70px;
    width: 70px;
}

#company-name-footer {
    color: #000;
    font-size: 17px;
}

/* RESPONSIVITY */

/* SMARTPHONES */

@media screen and (max-width: 767px) {
    .footer-container {
        flex-direction: column;
        gap: 20px;
    }

    .copyright {
        text-align: center;
    }
}

