/* HERO */

#hero-section {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 100px 60px;
    background: radial-gradient(circle at 75%, #aee3d7 0%, #5a7a87);
}

/* .hero-container-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    max-width: 1100px;
} */

.buttons-container {
    width: 100%;
    display: flex;
    gap: 10px;
}

.hero-icon {
    color: #fff;
    width: 5%;
    font-size: 25px;
}

.hero-container-left,
.hero-container-right {
    display: flex;
    justify-content: center;
    max-width: 600px;
}

.hero-container-left {
    display: flex;
    flex-direction: column;
}

.hero-title {
    font-size: 52px;
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: 40px;
}

.hero-text {
    font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
    color: #fff;
    margin-bottom: 100px;
    font-weight: lighter;
}

.main-button:link,
.main-button:visited {
    text-decoration: none;
    color: #fff;
}

.secondary-button:link,
.secondary-button:visited {
    text-decoration: none;
    color: #50d89b;
}

.main-button {
    background-color: #50d89b;
    border: 2px solid #50d89b;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    transition-duration: 500ms;
}

.main-button:hover {
    background-color: #34b888;
}

.secondary-button {
    background-color: transparent;
    border: 2px solid #50d89b;
    color: #50d89b;
    cursor: pointer;
    height: fit-content;
    width: fit-content;
    padding: 15px;
    border-radius: 5px;
    transition-duration: 500ms;
}

.secondary-button:hover {
    background-color: #34b888;
    color: #000;
}

.hero-container-right {
    width: 30%;
}

#hero-image {
    height: 350px;
    filter: drop-shadow(25px 25px 25px #202020);
    transition-duration: 300ms;
}

.move-left {
    margin-left: -100px;
}

.return-position {
    margin-left: 0px;
}

/* RESPONSIVITY */

/* SMALL SCREENS */

@media screen and (min-width: 1100px) {
    #hero-image:hover {
        height: 370px;
        filter: drop-shadow(25px 25px 25px #3d3d3d);
    }
}

@media screen and (max-width: 1100px) {
    #hero-section {
        padding: 60px 45px;
        /* gap: 40px; */
    }

    /* .hero-container-top {
        gap: 60px;
    } */

    .buttons-container {
        width: 100%;
        padding: 0px;
    }

    .hero-container-left {
        padding: 0px;
        max-width: 500px;
    }

    .hero-container-right {
        padding: 0px;
    }

    .hero-title {
        font-size: 36px;
    }

    #hero-image {
        height: 280px;
    }

}

/* TABLETS */

@media screen and (max-width: 900px) {
    #hero-section {
        padding: 60px 25px;
        gap: 60px;
        height: fit-content;
    }

    .buttons-container {
        width: 100%;
        padding: 0px;
    }

    .hero-container-left {
        padding: 0px;
        max-width: 400px;
    }

    .hero-container-right {
        padding: 0px;
    }

    .hero-title {
        width: 100%;
        font-size: 32px;
        letter-spacing: 0px;
        margin-bottom: 30px;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 30px;
    }

    #hero-image {
        height: 200px;
    }
}

/* SMARTPHONES */

@media screen and (max-width: 767px) {
    #hero-section {
        padding: 60px 25px;
        flex-direction: column-reverse;
        gap: 50px;
        height: fit-content;
    }

    .buttons-container {
        width: 100%;
        justify-content: center;
        padding: 0px;
    }

    .hero-container-left {
        padding: 0px;
    }

    .hero-container-right {
        padding: 0px;
    }

    .hero-title {
        width: 100%;
        font-size: 32px;
        letter-spacing: 0px;
        margin-bottom: 30px;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 30px;
    }
}
