/* PRODUCTS */

#products-section {
    background-color: #86b3b0;
    height: fit-content;
    padding: 100px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products-title {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
}

.products-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    row-gap: 10px;
    flex-flow: wrap;
    max-lines: 4;
    max-width: 1400px;
}

.product-box {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
}

.landing-page {
    background-image: url("../images/product-landing-page.jpg");
}

.ecommerce {
    background-image: url("../images/product-ecommerce.jpg");
}

.app-android {
    background-image: url("../images/product-app-android.jpg");
}

.app-ios {
    background-image: url("../images/product-app-ios.jpg");
}

.dashboard-web {
    background-image: url("../images/product-dashboard-web.jpg");
}

.blog {
    background-image: url("../images/product-blog.jpg");
}

.wordpress {
    background-image: url("../images/product-wordpress.jpg");
}

.app-web {
    background-image: url("../images/product-app-web.jpg");
}


.product-title {
    opacity: 0;
    text-align: center;
    font-size: 22px;
}

.product-box:hover {
    transition-duration: 500ms;
    box-shadow: inset 0 0 0 4000px rgba(0,0,0,.6);
}

.product-box:not(:hover) {
    transition-duration: 500ms;
}

.product-box:hover .product-title{
    transition-duration: 300ms;
    opacity: 1;
    color: #fff;
}

/* .hide {
    opacity: 0;
    transition-duration: 300ms;
}

@keyframes move {
    100%  { offset-distance: 100%; }
}

.box-animation {
    offset: path("M 300 300 L 100 100 z");
    animation: move 1s 1;
} */

/* RESPONSIVITY */

/* 1100px */

@media screen and (max-width: 1100px) {
    #products-section {
        padding: 60px 25px;
    }

    .product-box {
        height: 200px;
        width: 400px;
    }
}

/* SMARTPHONES */

@media screen and (max-width: 900px) {
    #products-section {
        padding: 60px 25px;
    }

    .products-container {
        gap: 15px;
    }

    .product-box {
        height: 200px;
        width: 100%;
    }
}
